<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <!--ISuiteListener-->
    <listeners>
        <listener class-name="testngparameters.IAnnotationTransformerDemo"/>
    </listeners>
<test verbose="2" preserve-order="true" name="C:/Users/LENOVO/Desktop/Software testing clone/project4">
<classes>
    <class name="testngparameters.DemoListener"/>
</classes>
</test>
</suite>